# dependencies
node_modules

# testing
/coverage

# next.js
/.next
/.vercel
/next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
start.sh

# Project
.cache
.design
.idea
.refs
.tsbuildinfo
*.log
